.detail {
  display: flex;
  justify-content: flex-start;
  margin: 90px 3% 9% 9%;

  .detailMainContainer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;

    .detailImageContainer {
      // display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 58vw;
      // height: 55vw;
      gap: 20px;
      margin-bottom: 60px;

      .detailImageBox {
        width: 48%;
        height: 48%;

        .detailImageEach {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }

    .detailSummary {
      width: 50vw;
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 160%;
    }

    .productCodeBox {
      padding-bottom: 40px;
      border-bottom: 1px solid #cfcfcf;

      .productCodeTitle {
        margin-bottom: 10px;
        font-size: 12px;
      }
      .productCode {
        padding: 5px 10px;
        background-color: #000000;
        color: #ffffff;
        font-size: 13px;
        font-weight: bold;
      }
    }
    .detailList {
      .detailListItem {
        position: relative;
        padding: 45px 0px;
        border-bottom: 1px solid #cfcfcf;
        font-size: 25px;
        font-weight: bold;

        .detailModalArrow {
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .productBuyModule {
    top: 200px;
    width: 25%;
    height: auto;

    .stickyContainer {
      position: sticky;
      top: 10%;

      .productNameBox {
        margin-bottom: 5px;

        .productName {
          margin-right: 5px;
          font-size: 20px;
          font-weight: bold;
        }
      }

      .subDescription {
        margin-bottom: 10px;
      }
      .price {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;

        .currencyStyle {
          font-size: 18px;
        }
      }
      .subRating {
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
      .buyMethodContainer {
        margin-bottom: 35px;

        .buyMethodMsg {
          margin-bottom: 10px;
          font-weight: bold;
        }
        .buyMethodBox {
          width: 100%;
          border: 1px solid #cfcfcf;
          border-radius: 5px;

          .deliveryBox {
            margin: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid #cfcfcf;

            .deliveryText {
              margin-bottom: 10px;
              font-weight: bold;
            }
            .deliveryLink {
              padding: 0;
              border: none;
              background-color: #ffffff;
              text-decoration: underline;
            }
          }
          .pickupBox {
            margin: 20px;

            .pickupText {
              margin-bottom: 10px;
              font-weight: bold;
            }
            .pickupLink {
              padding: 0;
              border: none;
              background-color: #ffffff;
              text-decoration: underline;
            }
          }
        }
      }
      .buyButton {
        width: 100%;
        height: 55px;
        border: none;
        border-radius: 70px;
        background-color: rgba(60, 58, 58, 0.266);
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
      }
      .SliderBox {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .detailSlider {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
        z-index: 1;
      }

      .detailSlider.open {
        height: 200px; /* 슬라이더의 높이를 조정하세요 */
      }

      .detailSliderContent {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        height: 100%;
        position: relative;
        z-index: 2;
      }

      .detailModalArrow {
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .detail {
    // display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 90px 3% 9% 9%;

    .detailMainContainer {
      display: block;
      margin-right: 0;
      width: 100%;

      .detailImageContainer {
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;

        .detailImageBox {
          width: 100%;
          height: auto;
        }
      }

      .detailSummary {
        width: 100%;
        font-size: 18px;
        line-height: 150%;
      }

      .productCodeBox {
        padding-bottom: 20px;

        .productCodeTitle {
          margin-bottom: 5px;
          font-size: 10px;
        }

        .productCode {
          padding: 3px 7px;
          font-size: 11px;
        }
      }

      .detailList {
        .detailListItem {
          padding: 25px 0px;
          font-size: 20px;
        }
      }
    }

    .productBuyModule {
      width: 100%;
      height: auto;
      top: initial;
      position: relative;
      margin-top: 40px;

      .stickyContainer {
        position: relative;
        top: initial;

        .productNameBox {
          margin-bottom: 3px;

          .productName {
            margin-right: 3px;
            font-size: 16px;
          }
        }

        .subDescription {
          margin-bottom: 5px;
        }

        .price {
          font-size: 24px;

          .currencyStyle {
            font-size: 14px;
          }
        }

        .subRating {
          margin-bottom: 10px;
          padding-bottom: 5px;
          font-size: 16px;
        }

        .buyMethodContainer {
          margin-bottom: 20px;

          .buyMethodMsg {
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 12px;
          }

          .buyMethodBox {
            border: 1px solid #020202;
            border-radius: 5px;

            .deliveryBox,
            .pickupBox {
              margin: 15px;

              .deliveryText,
              .pickupText {
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 12px;
              }

              .deliveryLink,
              .pickupLink {
                padding: 0;
                border: none;
                background-color: #ffffff;
                text-decoration: underline;
                font-size: 12px;
              }
            }
          }
        }

        .buyButton {
          height: 45px;
          font-size: 14px;
          background-color: #020202;
        }

        .SliderBox {
          gap: 5px;
        }

        .detailSlider {
          height: 0;
          transition: height 0.3s ease;
          z-index: 1;
        }

        .detailSlider.open {
          height: 150px;
        }

        .detailSliderContent {
          height: 100%;
        }

        .detailModalArrow {
          margin-left: 5px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .buyButton {
    // position: fixed;
    // display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    z-index: 2;
  }
}
