// @import '../../styles/mixin';
// @import '../../styles/variables'
@import '../styles/mixin.scss';
@import '../styles/variable.scss';

.login {
  display: flex;

  .titleBox {
    width: 40%;
    padding: 32px 80px;
    background-color: rgb(52, 51, 51);
    // box-shadow: ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    .titleUseBox {
      @include flex(column, null, space-between);
      height: 100%;
      margin: 0 auto;

      .titleUseBoxWrapper {
        position: relative;

        .logoBox {
          width: 90px;
          height: 36px;
          object-fit: cover;
        }

        .logoIcon {
          position: absolute;
          top: 0;
          left: -50px;
          transform: translateY(50%);
        }
      }

      .textBox {
        font-size: 25px;
      }
    }

    .textBoxTitle {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      color: #ffff;

      .title {
        margin-top: 16px;
        color: $mainBrandYellow;
        font-size: 34px;
        font-weight: 700;
      }

      .titleText {
        margin: 16px 0;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .article {
      display: flex;
      flex-direction: column;
      color: #fff;
      font-size: 12px;
      line-height: 1.7;

      .underline {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .loginBox {
    width: 60%;
    height: 100vh;
    @include flex(flex-start, center, row);
    padding: 32px 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    & div {
      margin-bottom: 40px;
    }

    .inputForm {
      width: 448px;

      .loginInput {
        display: flex;
        flex-direction: column;
      }

      .lineInput {
        margin-bottom: 10px;
      }

      .inputId {
        height: 50px;
        padding-left: 1rem;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 1rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

        &:hover {
          border-width: 3px;
        }
      }
      .inputDisabled {
        border-color: red;
      }
      .noneTitle {
        margin-top: 4px;
        color: red;
        font-size: 14px;
      }

      .inputPassword {
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
        padding-left: 1rem;
        border: 1px solid #000000;
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

        &:hover {
          border-width: 3px;
        }
      }
      .inputFail {
        border-color: red;
      }

      .loginBtn {
        width: 100%;
        height: 60px;
        margin-bottom: 40px;
        border-radius: 70px;
        background-color: rgb(52, 51, 51);
        color: #ffffff;
        font-size: 0.95rem;
        font-weight: 800;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

        &:hover {
          background-color: rgba(56, 52, 52, 0.612);
        }
      }

      .joinBtn {
        width: 100%;
        height: 60px;
        border: 1px solid #000;
        border-radius: 40px;
        background-color: transparent;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

        &:hover {
          border-width: 3px;
        }
      }
    }
  }
}
