* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-image: url('https://picsum.photos/600');
  background-size: cover;
  background-position: center;
  height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  gap: 10px;
  /* margin-bottom: 30px; */
}

nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 20px;
  box-shadow: 0 0 20px rgba(77, 77, 77, 0.5);
}

.article {
  background-image: url('../../.././jns-medi/public/images/Lime.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  gap: 10px;
}

.rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
