@import '../styles/mixin.scss';
@import '../styles/variable.scss';

.sideModal2 {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  width: 480px;
  height: 100%;
  padding: 0 30px;
  overflow-y: scroll;
  transform: translateX(0);
  transition: transform 200ms 0s;
  transition-property: transform, visibility;
  background-color: #fff;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.2);

  &.open {
    right: 0;
  }

  .sideModalTitle2 {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 30px 0;
    background-color: #fff;

    .sideModalCloseButton2 {
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      background-color: transparent;

      &:hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }
    }
  }

  .sideModalListWrapper2 {
    padding: 0 32px 0 120px;
    line-height: 2;

    .sideModalList2 {
      padding: 30px 0;
      font-weight: 700;

      .mainBoldMenuList2 {
        font-size: 36px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .mainSemiBoldMenuList2 {
        font-size: 14px;
        line-height: 2.5;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .sideModalInfo2 {
      margin: 10px 0;
      font-size: 14px;
      line-height: 2.5;

      .mainMenuInfo2 {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .sideModalButtonWrapper2 {
    display: flex;
    margin: 30px 0;
    padding: 20px 0px 12px 100px;
    font-size: 12px;

    .sideModalButton2 {
      @include flex(space-between, null, null);
      margin-right: 10px;
      padding: 10px 22px;
      border: 1px solid #dfdfdf;
      border-radius: 20px;
      background-color: transparent;
      font-weight: 700;
      gap: 10px;

      &:hover {
        border-color: #929292;
        cursor: pointer;
      }

      &:active {
        border-color: #000;
      }
    }
  }
}

.sideModalHidden2 {
  visibility: hidden;
  transform: translateX(100%); /* 오른쪽으로 이동하여 숨김 */
  transition: transform 200ms 0s;
  transition-property: transform, visibility;
}

.loginBox {
  width: 80%;
  // height: 100vh;
  // @include flex(flex-start, center, row);
  // padding: 32px 80px;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  & div {
    margin-bottom: 40px;
  }

  .inputForm {
    // width: 448px;
    margin-left: 25px;

    .loginInput {
      display: flex;
      flex-direction: column;
    }

    .lineInput {
      margin-bottom: 10px;
    }

    .inputId {
      height: 50px;
      padding-left: 1rem;
      border: 1px solid #000000;
      border-radius: 5px;
      font-size: 1rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

      &:hover {
        border-width: 3px;
      }
    }
    .inputDisabled {
      border-color: red;
    }
    .noneTitle {
      margin-top: 4px;
      color: red;
      font-size: 14px;
    }

    .inputPassword {
      width: 100%;
      height: 50px;
      margin-bottom: 5px;
      padding-left: 1rem;
      border: 1px solid #000000;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

      &:hover {
        border-width: 3px;
      }
    }
    .inputFail {
      border-color: red;
    }

    .loginBtn {
      width: 100%;
      height: 60px;
      margin-bottom: 40px;
      border-radius: 70px;
      background-color: rgb(52, 51, 51);
      color: #ffffff;
      font-size: 0.95rem;
      font-weight: 800;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

      &:hover {
        background-color: rgba(56, 52, 52, 0.612);
      }
    }

    .joinBtn {
      width: 100%;
      height: 60px;
      border: 1px solid #000;
      border-radius: 40px;
      background-color: transparent;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

      &:hover {
        border-width: 3px;
      }
    }
  }
  .kakaoLogin {
    width: 100;
    background-color: #929292;
  }
}

@media (max-width: 370px) {
  .sideModal2 {
    width: 100%;
    padding: 0 20px;
  }

  .sideModalListWrapper2 {
    padding: 0 20px 0 80px;
  }

  .sideModalButtonWrapper2 {
    padding: 20px 0px 12px 60px;
    font-size: 10px;
  }

  .loginBox {
    width: 100%;
  }

  .inputForm {
    .inputId,
    .inputPassword {
      font-size: 0.9rem;
    }

    .loginBtn {
      font-size: 0.85rem;
    }
  }
}
